EMS.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Company">

        <xs:complexType>
            <xs:sequence>
                <xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Emp-name" />
                            <xs:element type="xs:int" name="Emp-age" />
                            <xs:element type="xs:integer" name="Emp-salary" />
                            <xs:element type="xs:string" name="Emp-emailid" />
                            <xs:element type="xs:long" name="Emp-Phonenum" />
                            <xs:element type="xs:string" name="Emp-designation" />
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Emp-salary">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="50000" />
                <xs:maxInclusive value="200000" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:schema>
